*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: #1e252b;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.haeder {
    
}

.container {
    margin: auto;
    max-width: 1250px;
    padding: 0 10px;
}

.header__item {
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;

}

.header__logo {
   width: 38px;
   height: 38px; 
}



.header__h1 {
    padding-left: 12px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.9);
}

.header__ul {
    
}

.logo__ul {
    margin: 0;
    display: flex;
}

.item__li {
    display: block;
    position: relative;
    padding-left: 50px;
    list-style-type: none;
    transition: 0.2s ease-out;
}

.item__li::after {
    display: block;
    left: 0; 
	width: 0;
	height: 2px; 
	background-color: rgba(255, 255, 255, 0.55); /*задаём цвет линии*/
	content: "";
	
    
}

.item__li:hover::after,
.item__li:focus::after {
    box-shadow: 0px 0px 20px 3px #717b8b;
    width: 100%;
}

.item__a {   
    cursor: pointer;
    width: 118px;
    height: 48px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
    background: #1e252b;
}
.user {
   margin-right: 15px;
}

.button__hover:hover {
    background: #FF6E30;
    transition: 0.5s;
}

.button__hover:active {
    font-size: 20px;
    color: #fff;
    background: #8d4628;
    transition: 0.5s;
}

.section {
    padding-top: 110px;
    position: relative;
    background-image: url(/img/section/section__wrapper/0-02-0b-de74c7865f6c4003444080bc83b4799c3a0ae30415af9b70a91defd02a604061_6b53dcf6a10460cf.png);
    background-repeat: no-repeat;
    background-position: 57% 30%
}

.section__wrapper {
   
}

.designer__developer{
    max-width: 600px;
    padding-bottom: 30px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.9);
    
}

.designer__developer span {
    color: #FF6E30;
    font-size: 52px;
   
}

.designer__developer__text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
    width: 45%;
    margin: 0;
    padding-bottom: 60px;
}

.section__form {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
}

.section__input {
    background-color: #20252b;
    margin: 0;
    border-radius: 10px;
    width: 498px;
    padding-left: 55px;
    align-items: center;
    height: 64px;
    background-image: url(../img/section/section___form__input/Group\ 1447.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    
}

.section__input:focus {
    box-shadow: 0px 0px 20px 3px #717b8b;
    color: #fff;
}

.button__absolut {
    margin: 0;
    color: #fff;
    background-color: #FF6E30;
    margin-right: 10px;
    position: absolute;
}

.section__social {
    display: flex;
    align-items: center;
}

.section__img {
    padding: 130px 40px 17px 0px;
}

.most_popular_tools {
    padding: 195px 0 110px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.most_popular_tools__h2 {
    margin: 0;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.9);
}

.most_popular_tools__text {
    text-align: center;
    width: 430px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.main__content {
    padding-bottom: 200px;

}

.main__items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}



.item {
    display: flex;
    justify-content: start;
    align-items: center;
}

.item__list {
    border-radius: 10px;
    padding: 34px 33px 25px 33px;
    max-width: 400px;
    
}

.item__list:hover {
    transition: 1s;
    transform: scale(1.1, 1.1);
    border: 1px solid rgba(255, 255, 255, 0.55);
    box-shadow: 0px 0px 20px 3px #717b8b;

}

.item__content {
    padding-left: 40px;
}

.h3__style {

    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.78);
}

.free__text {
    display: block;
    margin: 0%;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 165, 55, 0.55);
    transition: 0.5s;
}

.free__text:hover {
    font-size: 20px;
    color: #ee8524;
}

.free__text:active {
    font-size: 20px;
    color: #b46419;
}

.item__text {
    padding-bottom: 42px;
    width: 325px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.item__icons {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    align-items: center;
}

.love__img {
    width: 25px;
    height: 21px;
}

.docum__img {
    width: 25px;
    height: 21px;
    margin-left: 20px;
}


.visit {
    padding: 10px 35px;
    background: #1e252b;
    align-items: center;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
}

.visit:hover {
    background: #FF6E30;
    color: #fff;
}

.visit:active {
    font-size: 18px;
    color: #fff;
    background: #8d4628;
    transition: 0.5s;
}

.content__button {
    display: flex;
    justify-content: center;
}

.loadMore__button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FF6E30;
    padding: 17px 38px;
    background: #1E252B;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.loadMore__button:hover {
    padding: 19px 40px;
}

.loadMore__button:active {
    padding: 17px 38px;
    box-shadow: 0px 0px 20px 3px #FF6E30;
    color: #fff;
} 

.main__servis {
    width: 100%;
    background: rgba(44, 53, 61, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 25px;
}

.trusted__h3 {
    padding: 55px 0;
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
}

.servis {
    padding-bottom: 57px;
    display: flex;
    justify-content: space-around;
}

.img__servis {
    right: 41px;
}

.microsoft {
    
    width: 192px;
}

.google {
    width: 156px;
}

.slack {
    width: 195px;
}

.wordpress {
    width: 195px;
}



.main__section  {
    padding-top: 220px;
}



.wrapper {
    display: flex;
    justify-content: space-between;
}
.sectiom__newcomer {
    max-width: 430px;
}

.newcomer__h3 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.9);
}

.newcomer__p {
    padding: 35px 0 60px 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.newcomer__button {
    background: #FF6E30;
    border-radius: 8px;
    padding: 15px 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.button__hover:hover {
    background: #FF6E30;
    transition: 0.5s;
}

.button__hover:active {
    font-size: 20px;
    color: #fff;
    background: #8d4628;
    transition: 0.5s;
}

.section__card {
    display: flex;
    justify-content: space-between;
}

.item__card {
    margin: 0px 0px 50px 30px;
    width: 290px;
}

.card__text {
    width: 245px;
}

.swiper {
    
    
    padding: 200px 0 250px 0;
}

.swiper-wrapper {
    padding-bottom: 100px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.swiper__img {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/swiperUser/круг.png);
}

.mark {
     
}

.swiper__text { 
    margin: 0;   
    padding: 50px 0 0 60px;
    background-image: url(/img/swiperUser/“.png);
    background-repeat: no-repeat;
    max-width: 455px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.015em;
    color: rgba(255, 255, 255, 0.78);
}

.users--name {
    margin: 333px 500px 0px 0px;
    position: absolute;
    background: rgba(40, 48, 54, 0.2);
    backdrop-filter: blur(10px);
    padding: 10px 23px;
}

.user--name__h3 {
    
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0.015em;
    color: rgba(255, 253, 253, 0.78);
}

.name__profession {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 253, 253, 0.55);
    margin: 0;
}

.swiper-button-prev 
.swiper-button-next:active {
    background:#FF6E30;;
}


.section--become--email {
    width: 100%;
    padding-bottom: 230px;
}
.section--become {
    padding: 70px 0 98px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.become__h3 {
    text-align: center;
    margin: 0;
    padding-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.9);
}

.become__text {
    text-align: center;

    max-width: 427px;
    padding-bottom: 100px;
    margin: auto 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.input__become {
    width: 550px;
    background: #283036;
    border-radius: 15px
}

.footer {
    padding: 70px 0 ;
    border: 0.5px solid rgba(255, 255, 255, 0.15);
}

.foooter--info {
    display: flex;
    justify-content: space-between;
    
  
}

.footer__antools {
    display: flex;
    flex-direction: column;
    
}

.footer__logo {
   padding-bottom: 15px;
}

.contact__h3 {
    margin: 0;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
}

.footer__text {  
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
    padding-bottom: 10px;
}

.copyright {
    padding-bottom: 20px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);
}

.antool {
    max-width: 260px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.55);
}

.footer__text:hover {
    color: #FF6E30;
    transition: 1s;
}